header .header-img-container {
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: var(--black);
    border-radius: 15px;
    box-sizing: border-box;
}

header > * img {
    width: 100%;
    height: 100%;
}

header .logo {
    margin-left: 10%;
}

header .logo img {
    border-radius: 15px;
}

header  .right {
    margin-right: 10%;
}

header .title {
    background-color: var(--black);
    padding: 2px 30px;
    border-radius: 15px;
    height: 80px;
    overflow: hidden;
    text-align: center;
}

header .title .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .inner-title {
    margin-top: -10px;
    font-family: Motion-Bold, sans-serif;
    font-size: 80px;
    color: var(--white);
}