.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    backdrop-filter: blur(5px);
}

.active.modal {
    display: flex;
}

html:has(.modal.active) {
    overflow: hidden;
    padding-right: 10px;
}

.modal #modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--white);
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    text-align: center;
    z-index: 1;
    width: 82%;
    height: 82%;
    background-color: var(--dark-black);
    border-radius: 15px;
    border: 5px solid var(--green);
    margin: 9%;
    box-sizing: border-box;
}

.modal-text {
    font-size: 6em;
    color: var(--white);
}

.modal-text .enhance {
    color: var(--green);
    font-size: 1.1em;
    background-color: var(--black);
    padding: 10px 20px;
    border-radius: 20px;
}

@media screen and (max-width: 1200px) {
    .modal-content {
        width: 90%;
        height: 30%;
        margin: 5%;
    }

    .modal-text {
        font-size: 4em;
    }
}