@import "base.css";
@import "loader.css";
@import "header.css";
@import "footer.css";
@import "modal.css";

@import "main/title.css";
@import "main/presentation.css";
@import "main/techno.css";
@import "main/skills.css";
@import "main/github-container.css";

@import "animation/a-title.css";
@import "animation/a-header.css";
@import "animation/a-presentation.css";
@import "animation/a-techno.css";
@import "animation/a-skills.css";

html,body {
    margin:0;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(180deg, var(--green) var(--header-height), var(--black) 5%);
}

::-webkit-scrollbar-thumb {
    background: var(--white);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

body {
    position: relative;
    background-color: var(--black);
    margin: 0;
    padding: 0;
}

body:has(.loader.active) {
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green);
    position: fixed;
    width: 100%;
    top: 0;
    height: var(--header-height);
    z-index: 2;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: var(--header-height);
}

main .main-page {
    display: flex;
    flex-direction: column;
    font-family: Montserrat-Regular, serif;
    color: var(--white);
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--footer-height);
}

h1 {
    font-size: 3.5vw;
}

h2 {
    font-size: 2vw;
}

.loader {
    display: none;
}

/** {*/
/*    outline: 1px solid var(--white);*/
/*}*/

/*
    Media queries a 1200px

    ajouter une barre de progression vertical pour le scroll

    Ajouter une page de chargement avec un loader
    Ajouter des tags
 */